{% extends 'base.html.twig' %}
{% block carousel %}
{% endblock %}

 {% block _stylesheets %}
     {{ encore_entry_link_tags('home') }}
 {% endblock %}

{% block content  %}

    <h3>Nos meilleurs ventes</h3>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-5">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}

    </div>
{% endblock %}