.carousel {
  .carousel-item {
    height: calc(100vh - 2rem)!important;
    background-position: center!important;
  }
}

h1 {
  color: white;
  text-align: left;
  font-size: 45px;
}

h3 {
  color: black;
  text-align: center;
  font-size: 36px;
  margin-bottom: 70px;
}