{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
    <h1>Formulaire de contact</h1>
<div class="">
    {{ form(form) }}
</div>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endblock %}
